p{
	color: white;
	text-align: right;
	font-family: cursive;
	font-weight: bold;
	font-style: italic;
}

h2{	color: #000000; text-align: left;}

body {background-image: url("kitty (_´˘`_)♡.jpg");}

.petitpara{
	width:280px;
}

.petitpara{
	color:seagreen;
	text-align: right;
	background-image:  url("858ca0f9-7260-4415-9db6-bb4eaa43b575.GIF");
	 background-size: 300px;
  width: 320px;
  height: 190px;
  border: 2px solid;
  color: pink;
}